
img{
	width: 155px;

}

.image {
    
	background-image:url(https://i.postimg.cc/dQy8wp2D/images6.jpg);
    background-position: center;
    background-size: cover;
    
}

.home{
	display: flex;
	gap:30px;
	justify-content: center;
	place-items: center;
	background-color: #111;

}
h1{
	color: blue;
	font-size: 50px;
}
ul{
	display: block;
	list-style-type: none;
	gap: 20px;
	background-color: blueviolet;
	padding: 30px 20px;

}
li{
	float: left;
	border-right:1px solid whitesmoke ;

}
li a{
	padding: 20px 20px;
	color: white;
	text-decoration: none;

}
.lastmenuchild{
	float: right;
}
.child{
	float: right;
	

	
}



.menuchild{
	float:right;
}



.container{width: 50%;
	height: 100px;
	display: inline-flex;
	gap: 5px;
	
}

.container img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: flex;
	border: 20px;
	transition: all ease-out 1.00s;
	cursor: blink;	
	
}

.container img:hover{
	width: 20%;
	transform: scaleX(-5);
	

}
html, body {
	position: relative;
	height: 100%;
}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
}




.imagecontainer{
    width: 100%;
	display: flex;

}


.swiper{
    width: 80%;
    height: 300px;
    
}
.swiper img{
    width: 100%;
    height: 500px;
	
	
}


.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: rgb(233, 151, 44);
    
}

.swiper-pagination-bullet-active{
    color: rgb(14, 44, 44);
    background-color: brown;
    opacity: 1;
    width: 3rem;
    height: 1%;
    border-radius: 0.8rem;
	border-image-source: -moz-element();

}



body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f0f0f0;
  }



  .movie-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  }

  .movie-card {
	width: 200px;
	padding: 20px;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
  }

  .movie-card img {
	width: 100%;
	border-radius: 5px;
  }

  .movie-title {
	font-size: 18px;
	margin: 10px 0;
	font-weight: bold;
  }

  .movie-btn {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #333;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }

  .movie-btn:hover {
	background-color: #555;
  }

  .background{
	background-image: url("IMAGES/images7.jpg");

  }